{% extends 'base.html' %}

{% block content %}
<h1>{{ player.first_name }} {{ player.last_name }}</h1>

<section>
    <h1>Ratings</h1>

    {% if ratings %}
    <ol>
    {% for rating in ratings %}
        <li>{{ rating.game }} - {{ rating.rating.rating }}</li>
    {% endfor %}
    </ol>
    {% else %}
    <p><em>There are no plays for {{ player }}.</em></p>
    {% endif %}
</section>

<section class="recently-played">
    <h1>Recently Played</h1>

    {% for game_play in recently_played %}
    <article>
        <h1>{{ game_play.game }}</h1>
        <time>{{ game_play.played_at|date:'c' }}</time>

        <ul>
            {% for player in game_play.players.all %}
            <li>
                <a href="{% url 'player_detail' slug=player.slug %}">{{ player }}</a>
            </li>
            {% endfor %}
        </ul>
    </article>
    {% empty %}
    You haven't played any games yet.
    {% endfor %}
</section>
{% endblock %}
