{% extends 'base.html' %}

{% block content %}
<h1>{{ playergroup }}</h1>

<nav>
    <ul>
        <li>
            <a href="{% url 'player_group_game_create' playergroup.slug %}">Add a game</a>
        </li>
        <li>
            <a href="{% url 'player_group_player_add' playergroup.slug %}">Add Player</a>
        </li>
        <li>
            <a href="{% url 'player_group_invite' playergroup.slug %}">Invite Player</a>
        </li>
    </ul>
</nav>

<section>
    <h1>Players</h1>

    <ul>
    {% for player in playergroup.players.all %}
        <li><a href="{% url 'player_detail' player.slug %}">{{ player }}</a></li>
    {% endfor %}
    </ul>
</section>

{% if playergroup.games.all %}

<section>
    <h1>Leaderboards</h1>

    {% for game, leaderboard in leaderboards %}
    <h2><a href="{% url 'game_detail' game.slug %}">{{ game }}</a></h2>

    <table class="{% if not leaderboard %}empty-table{% endif %}">
        <thead>
            <tr>
                <th>Player</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        {% for rating in leaderboard %}
            <tr>
                <td>
                    <a href="{% url 'player_detail' rating.player.slug %}">{{ rating.player }}</a></td>
                <td>{{ rating.rating.rating }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="1000">
                    <em>There are no plays for this group at <a href="{% url 'game_detail' game.slug %}">{{ game }}</a></em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endfor %}
</section>

{% endif %}

{% endblock %}
