{% extends 'base.html' %}

{% block content %}
<h1>Games</h1>

<nav>
    <ul>
        <li><a href="{% url 'game_create' %}">Add A Game</a></li>
    </ul>
</nav>

<table class="{% if not game_list %}empty-table{% endif %}">
    <thead>
        <tr>
            <th>Name</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
    {% for game in game_list %}
        <tr>
            <td><a href="{% url 'game_detail' slug=game.slug %}">{{ game.name }}</a></td>
            <td>
                {% if game.min_players == game.max_players %}
                    {{ game.min_players }}
                {% else %}
                    {{ game.min_players }} - {{ game.max_players }}
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="1000"><em>There are no games. Why don't you <a href="{% url 'game_create' %}">add one</a>?</em></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
