{% extends 'base.html' %}

{% block content %}
<h1>{{ game.name }}</h1>

<nav>
    <ul>
        <li>
            <a href="{% url 'game_play_create_from_game' slug=game.slug %}">
                Log Play
            </a>
        </li>
        <li>
            <a href="{% url 'game_update' slug=game.slug %}">Edit</a>
        </li>
    </ul>
</nav>

<dl>
    <dt>Players</dt>
    <dd>
        {% if game.min_players == game.max_players %}
            {{ game.min_players }}
        {% else %}
            {{ game.min_players }} - {{ game.max_players }}
        {% endif %}
    </dd>
</dl>
{% endblock %}
