<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
    <thead>
        <tr>
            {% for column in table.columns %}
            <th>{{ column.header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.page.object_list|default:table.rows %}
        <tr>
            {% for column, cell in row.items %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="1000"><em>There are currently no {{ table.model_verbose_plural_name }}.{% if table.new_model_url %} Why don't you <a href="{{ table.new_model_url }}">add one</a>?{% endif %}</em></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
